<%= render "admins/navbar" %>
<%= render "shared/notices" %>
<div class="admin-container container-fluid mb-5">
  <h1> Dashboard </h1>
  <hr>

  <div class="traders-header container-fluid">
    <h2> All traders </h2>
    <%= link_to "Create new trader", admins_new_user_path, class: "btn btn-outline-primary new-trader" %>
  </div>

  <% if @all_users.empty? %>
    <p> Sorry, we do not have traders yet :( </p>
  <% else %>
      <table class="table table-striped table-bordered px-1 mb-3">
        <thead>
          <tr class="table-dark">
            <th scope="col">User ID</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-striped">
          <% @all_users.sort.each_with_index do |trader, index| %>
            <tr>
              <th scope="row"><%= trader.id %></th>
              <td><%= trader.email %></td>
              <td><%= trader.approved ? "Approved" : "Pending" %></td>
              <td class="d-flex justify-content-evenly">
                <%= link_to "View", show_profile_path(trader.id), class: "btn btn-outline-secondary", method: "get" %>
                <%= link_to "Update", edit_user_profile_path(trader.id), class: "btn btn-outline-secondary", method: "get" %>
                <% unless trader.approved %>
                  <%= link_to "Approve this trader", approve_user_path(trader.id), class: "btn btn-outline-secondary", method: "put" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
  <hr>

  <div class="all-transactions container-fluid">
    <h2> All transactions </h2>
    
    <div class="search-transaction-container">
      <%= form_tag admins_dashboard_path, method: "get" do %>
        <%= label_tag(:search, "Search by ID") %>
        <%= number_field_tag :search, params[:search] %>
        <%= submit_tag("Search", :name => nil) %>
      <% end %>
    </div>

    <div class="filter-container">
      <h4> Filter Result </h4>
      <div class="filter-option">
        <%= link_to "By Type", :sort => "transaction type" %>
        <%= link_to "By Amount", :sort => "amount" %>
        <%= link_to "By Date", :sort => "date" %>
      </div>
    </div>
  </div>

  <% unless search(@search_params, @sort_params).present? || search(@search_params, @sort_params).length > 0 %>
    Oops! There are no transactions yet
  <% else %>
    <table class="table table-striped table-bordered px-1">
      <thead>
        <tr class="table-dark">
          <th scope="col">Transaction ID</th>
          <th scope="col">User</th>
          <th scope="col">Transaction Type</th>
          <th scope="col">Quantity</th>
          <th scope="col">Current Price</th>
          <th scope="col">Total Amount</th>
          <th scope="col">Time Placed</th>
        </tr>
      </thead>
      <tbody >
        <% unless search(@search_params, @sort_params).is_a? Enumerable %> <!-- #Checks if @transactions is Array-ish -->
          <tr>
            <th scope="row"><%= search(@search_params, @sort_params).id %></th>
            <th scope="row"><%= @all_users.find(search(@search_params, @sort_params).user_id).first_name.titleize %> <%= @all_users.find(search(@search_params, @sort_params).user_id).last_name.titleize  %></th>
            <td class='<%= search(@search_params, @sort_params).transaction_type == "sell" ? 'table-success' : 'table-danger' %>'><%= search(@search_params, @sort_params).transaction_type.upcase %></td>
            <td><%= search(@search_params, @sort_params).quantity %></td>
            <td><%= search(@search_params, @sort_params).current_price %></td>
            <td><%= search(@search_params, @sort_params).current_price * search(@search_params, @sort_params).quantity %></td>
            <td><%= search(@search_params, @sort_params).time_placed %></td>
          </tr>
        <% else %>
          <% search(@search_params, @sort_params).each do |transaction| %>
            <tr>
              <th scope="row"><%= transaction.id %></th>
              <th scope="row"><%= @all_users.find(transaction.user_id).first_name.titleize %> <%= @all_users.find(transaction.user_id).last_name.titleize  %></th>
              <td class='<%= transaction.transaction_type == "sell" ? 'table-success' : 'table-danger' %>'><%= transaction.transaction_type.upcase %></td>
              <td><%= transaction.quantity %></td>
              <td><%= transaction.current_price %></td>
              <td><%= transaction.current_price * transaction.quantity %></td>
              <td><%= transaction.time_placed %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
