<h1> My Portfolio </h1>

<h2> Active investments </h2>

<p> <%= sorted_company_name(@companies) %> </p>

<% sorted_company_name(@companies).each do |company_name| %>
  <h2> Company Name: <%= company_name[0] %> </h2>
  <hr>

  <% @payments.each do |payment| %>

    <% if company_name[1] == payment.stock_id %>
      <p> Payment ID: <%= payment.id %> </p>
      <p> Stock ID: <%= payment.stock_id %> </p>
      <p> Date purchased: <%= payment.time_placed.to_formatted_s(:long) %> </p>
      <p> Quantity purchased: <%= payment.quantity %> </p>
      <p> Price: <%= payment.current_price %> </p>
      <hr>
    <% end %>

  <% end %>

<% end %>