<%= render "shared/navbar" %>
<div class="stocks-main">
  <h2> Stock Market </h2>
  <div class="stocks-container" >
    <div class="title">
      <p> Logo </p>
      <p> Company Name </p>
    </div>
    
    <% @stocks.each_with_index do |stock, index| %>
      <%= link_to stock_path(stock.id), class: "stock-item" do %> 
          <img src=<%= stock.logo_url %> alt=<%= stock.symbol %> >
          <h3> <%= stock.company_name %></h3>
          <div class="container-fluid chart">
            <canvas id="myChart<%= index + 1 %>" width="200" height="100%" data-labels="<%= stock.price_history %>" data-data="<%= stock.price_history %>" ></canvas>  
          </div>

      <% end %>
    <% end %>
  </end>
</div>
