<%= render "shared/navbar" %>
<div class="container-fluid stock-main">
  <div class="stock-main-info">
    <div class="container-fluid stock-name-container">
      <img src=<%= @stock.logo_url %> >
      <h1> <%= @stock.company_name.upcase %></h1>

      <div class="buy-sell-container">
        <%= button_to "BUY", payment_buy_path(id: @stock.id, transaction_type: "buy"), class: "btn btn-outline-danger ", method: "get" %>
        <%= button_to "SELL", payment_sell_path(id: @stock.id, transaction_type: "sell"), class: "btn btn-outline-success", method: "get" %>
      </div>
    </div>

    <div class="chart-price-container">
      <div class="container-fluid chart">
        <canvas id="myChart<%= @stock.id%>" curve="true" width="400" height="auto" data-labels="<%= get_chart_data(@stock)[:data_keys] %>" data-data="<%= @stock.price_history %>" ></canvas>  
      </div>

      <h3>Closing Price: $<%= @price %></h3> 
    </div>
  </div>

  <hr>

  <div class="show-section-2">
    <h2> Latest News </h2>
    <div class="owl-carousel news-container">
      <% @news.each do |news| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h4> <%= news.source%> </h4>
            <p class="card-title"><%= news.headline%></p>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Read More
            </button>

          </div>
        </div>
      <% end %>
    </div>

    <hr/>

    <div class="about-container">
      <h3> About <%= @stock.company_name %> </h3>
      <p> <%= @stock.description %> </p>
    </div>

    <div class="other-infos-container">
        <div>
          <%= image_tag("CEO_icon.png", class: "other-infos-icons") %>
          <h6> CEO </h6>
          <h5> <%= @stock.ceo %> </h5>
        </div>
        <div>
          <%= image_tag("Industry_icon.png", class: "other-infos-icons") %>
          <h6> Industry </h6>
          <h5> <%= @stock.industry %> </h5>
        </div>
        <div>
        <%= image_tag("Employees_icon.png", class: "other-infos-icons") %>
        <h6> Employees</h6>
        <h5> <%= @stock.employees %> </h5>
        </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
  $(document).ready(function(){
    $('.owl-carousel').owlCarousel();
  });
  </script>
<% end %>