<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/"> <%= image_tag("stockscrowd_logo_2.png", class: "logo") %> </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="nav-menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="nav-menu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">
              Home
            </a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="/stocks">Market</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portfolios">My Portfolio</a>
          </li>
        </ul>

      </div>
    <% end %>

    <div class="user-wallet-container">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag("User_icon.png", class: "user-icon") %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">My Account</a></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete , class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Upgrade to Premium</a></li>
          </ul>
        </li>
        <a class="nav-link" data-bs-toggle="offcanvas"  data-bs-target="#sidebar" role="button" aria-controls="offcanvasExample">
          <%= image_tag("Wallet_icon.png", class: "wallet-icon") %>
        </a>
      <% end %>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="sidebar" aria-labelledby="offcanvasRightLabel">
  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  
  <div class="offcanvas-header">
    <div class="offcanvas-title" id="offcanvasRightLabel">
      <a class="navbar-brand" href="/"> <%= image_tag("stockscrowd_logo_2.png", class: "wallet-logo") %> </a>
    </div>
  </div>
  <div class="offcanvas-body">
    <h5 class="my-wallet"> My Wallet </h5>

    <h5 class="total-bal"> Total balance </h5>
    <div class="total-bal-container">
      <h3 class="bal-amount"> $<%= Wallet.where(:user_id == 1)[0].balance %> <h3>
      <hr>
    </div>

    <h5 class="latest-transactions"> Latest Transactions </h5>

    <div class="transactions-container">
      <% Payment.where(:user_id == current_user).each do |transaction|%>
        <div class="transaction-item">
          <span><%= Stock.find(transaction.stock_id).symbol %> </span>
          <span>$<%= (transaction.quantity * transaction.current_price) %> </span>
          <span><%= transaction.transaction_type %> </span>
        </div>
      <% end %>
      <div>
        <%= link_to "See all transactions", payments_path, method: :get %>
      </div>
    </div>

  </div>

</div>
