<div class="container-fluid mt-3">
    <%= form_with scope: :payment, model: @payment, class: "payment-form", locale: true do |f| %>
      <div class="mb-3">
        <%= f.label :quantity %>
        <%= f.number_field :quantity %>
      </div>
      <%= f.hidden_field :stock_id, value: params[:id] %>
      <%= f.hidden_field :transaction_type, value: params[:transaction_type]%>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :wallet_id, value: current_user.id %>
      <%= f.hidden_field :time_placed, value: Time.now %>
          
      <%= f.submit class: 'btn btn-outline-primary btn-sm' %>
     
      <%= link_to 'Back', stock_path(params[:id]), class: 'btn btn-primary btn-sm', method: :get %>
    <% end %>
</div >

<!-- Still need to impliment error handling -->
