<%= form_with scope: :payment, model: @payment, class: "payment-form", locale: true do |f| %>
  <div class="mb-3">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <%= f.hidden_field :stock_id, value: params[:id] %>
  <%= f.hidden_field :transaction_type, value: params[:transaction_type] ? "buy" : "sell" %>

  <div>
    <%= f.submit class: 'btn btn-outline-primary btn-sm' %>
  </div>
  <%= link_to 'Home', root_path, class: 'btn btn-primary btn-sm', method: :get %>
<% end %>